.pin {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffcc00; /* A nice gold color */
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s;

  transform: translate(-50%, -50%); 
}

.pin:hover {
  transform: translate(-50%, -50%) scale(1.3);
  background-color: #ffeb3b;
}